
.cart__tot {
    display: none;
}

.cart__price {
    transform: translate(-3rem, 1rem);
    font-size: 1.4rem;
}

.cart__name {
    transform: translate(4.5rem, -2rem);
    font-size: 1.4rem;
}

.quan__boxes {
  padding: 0.7rem 1rem;
  border: 1px solid #000;
  width: 20%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-2rem);
}

.cart__quan {
  text-align: center;
  width: 100%;
  font-size: 1.5rem;
  border: none;
  outline: none;
  text-align: center;
}

.min__btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.pl__btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
}

.remove__icon {
    transform: translateX(-6rem);
  }

 
  #cart__image {
    width: 15%;
  }

  @media only screen and (max-width:900px) {
    .cont__form {
        position: relative;
        top: 50rem;
      }

      .prod__cont {
        margin-top: 7rem;
      }

      #cart__image {
        width: 20%;
        transform: translateX(-5rem);
      }

      .cart__price {
        transform: translate(-10rem, 1rem);
        font-size: 1.4rem;
    }
    
    .cart__name {
        transform: translate(-3rem, -2rem);
        font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 560px) {
    .cartdisp {
      transform: translateX(8rem);
    }

    .quan__boxes {
      padding: 0.7rem 1rem;
      width: 20%;
      transform: translateX(-13rem);
    }

    .remove__icon {
      transform: translateX(-17rem);
    }  

    .totalPriceCart {
      transform: translateX(-2rem);
    }
  }

  @media only screen and (max-width: 460px) {
    .cartlist{
        transform: translateX(0.1rem);
    }

    .cart__name {
        transform: translate(-3rem, -2rem);
        font-size: 1.4rem;
    }

    .remove__icon {
        transform: translateX(-17rem);
      }
  }

  @media only screen and (max-width: 420px) {
    .cart__price {
        transform: translate(-10rem, 1rem);
        font-size: 1.4rem;
    }

    .quan__boxes {
      padding: 0.7rem 1rem;
      width: 20%;
      transform: translateX(-10rem);
    }

    .remove__icon {
      transform: translateX(-14rem);
    }

    .cartlist {
      transform: translateX(-1.5rem);
    }
  }

  @media only screen and (max-width: 400px) {
    .cart__price {
        transform: translate(-10rem, 0.5rem);
        font-size: 1.4rem;
    }

    .cartlist {
      transform: translateX(1rem);
    }

    .quan__boxes {
      padding: 0.7rem 1rem;
      width: 25%;
      transform: translate(-18.5rem, 5rem);
    }

    #cart__image {
        width: 22%;
        transform: translateX(-5rem);
      }

      .totalPriceCart {
        margin-top: 9rem;
      }

    .remove__icon {
        transform: translateX(-21rem);
      }

    .cart__name {
        transform: translate(-3.5rem, -2.5rem);
        font-size: 1.4rem;
    }
  }

  @media only screen and (max-width: 350px) {
    .cart__price {
        transform: translate(-10rem, 1rem);
        font-size: 1.4rem;
    }

    .cartlist {
      transform: translateX(-1.5rem);
    }

    .quan__boxes {
      padding: 0.7rem 1rem;
      width: 25%;
      transform: translate(-16rem, 5rem);
    }


    #cart__image {
      width: 27%;
      transform: translateX(-5rem);
    }

    .cart__name {
        transform: translate(-3.5rem, -1.7rem);
        font-size: 1.4rem;
    }

    .remove__icon {
      transform: translateX(-16.5rem);
    }
  } 

  @media only screen and (max-width: 320px) {
    .cart__price {
        transform: translate(-10rem, 1rem);
        font-size: 1.4rem;
    }

    .cartlist {
      transform: translateX(-2rem);
    }

    .quan__boxes {
      padding: 0.7rem 1rem;
      width: 25%;
      transform: translate(-15.5rem, 5rem);
    }


    #cart__image {
      width: 27%;
      transform: translateX(-5rem);
    }

    .cart__name {
        transform: translate(-3.5rem, -1.7rem);
        font-size: 1.4rem;
    }

    .remove__icon {
      transform: translateX(-14rem);
    }
  } 

  @media only screen and (max-width: 900px) {
    #comp__button {
      transform: translateX(5rem);
    }

    .continue__button {
      transform: translateX(-3rem);
    }
  } 

  @media only screen and (max-width: 400px) {
    .continue__button {
      transform: translateX(-2.5rem);
    }
  } 